{% extends 'admin.twig' %}

{% block content %}
    {% import 'macros.twig' as piwik %}
    {% import 'ajaxMacros.twig' as ajax %}

	<script type="text/javascript">
		{% set webtreesRootUrlLabel='Webtrees_WebtreesRootUrl'|translate %}
		{% set webtreesRootUrlHelp=piwik.inlineHelp('Webtrees_WebtreesRootUrlInlineHelp'|translate) %}
		var webtreesRootUrlLabel = '{{ webtreesRootUrlLabel|e('js') }}';
		var webtreesRootUrlHelp = '{{ webtreesRootUrlHelp|e('js') }}';
		
		
		{% set webtreesTokenLabel='Webtrees_WebtreesToken'|translate %}
		{% set webtreesTokenHelp=piwik.inlineHelp('Webtrees_WebtreesTokenInlineHelp'|translate) %}
		var webtreesTokenLabel = '{{ webtreesTokenLabel|e('js') }}';
		var webtreesTokenHelp = '{{ webtreesTokenHelp|e('js') }}';
		
		
		{% set webtreesTaskNameLabel='Webtrees_WebtreesTaskName'|translate %}
		{% set webtreesTaskNameHelp=piwik.inlineHelp('Webtrees_WebtreesTaskNameInlineHelp'|translate) %}
		var webtreesTaskNameLabel = '{{ webtreesTaskNameLabel|e('js') }}';
		var webtreesTaskNameHelp = '{{ webtreesTaskNameHelp|e('js') }}';
	
        $(function () {
            sitesManager.init();
        });
    </script>

	<h2>{{'Webtrees_WebtreesSettings'|translate}}</h2>
	{{ ajax.errorDiv() }}
    {{ ajax.loadingDiv() }}
	{% if isSuperUser %}
		<table class="adminTable" style='width:900px;'>
			<tr>
				<td><label>{{ webtreesRootUrlLabel }}  &nbsp;
                        <input type="text" size="50" id="webtreesrooturl"
                               value="{{ webtreesrooturl|raw }}"/>
                        <div style='width: 200px;float:right;'>{{ webtreesRootUrlHelp }}</div>
                </label></td>
			</tr>
			<tr>
				<td><label>{{ webtreesTokenLabel }}  &nbsp;
                        <input type="text" size="50" id="webtreestoken"
                               value="{{ webtreestoken|raw }}"/>
                        <div style='width: 200px;float:right;'>{{ webtreesTokenHelp }}</div>
                </label></td>
			</tr>
			<tr>
				<td><label>{{ webtreesTaskNameLabel }}  &nbsp;
                        <input type="text" size="20" id="webtreestaskname"
                               value="{{ webtreestaskname|raw }}"/>
                        <div style='width: 200px;float:right;'>{{ webtreesTaskNameHelp }}</div>
                </label></td>
			</tr>
	    </table>
	    <input type="submit" value="{{'General_Save'|translate}}" id="webtreesSettingsSubmit" class="submit"/>
	    {{ ajax.errorDiv('ajaxLoadingWebtreesSettings') }}
        {{ ajax.loadingDiv('ajaxErrorWebtreesSettings') }}
	{% endif %}
{% endblock %}